body {
    background-color: tomato;
}
.nesto {
    border: 2px black solid;
    width: 800px;
    height: 800px;
}
@media screen and (min-width: 1000px) {
    .nesto {
        width: 500px;
        height: 500px;
    }
}
@media screen and (max-width: 600px) {
    .nesto {
        width: 400px;
        height: 400px;
    }
}   