div{
    border: black 2px solid;
    position: absolute;
    
}
#div1{
    background-color: aqua;
    z-index: -1px;
    width: 300px;
    height: 200px;
    left: 20px;
    top: 20px;
}
#div2{
    background-color: red;
    z-index: 0px;
    width: 250px;
    height: 300px;
    left: 250px;
    top: 130px;
}
#div3{
    background-color: green;
    z-index: 1px;
    width: 600px;
    height: 150px;
    left: 50px;
    top: 350px;
}
#div4{
    background-color: purple;
    z-index: 2px;
    width: 100px;
    height: 450px;
    left: 600px;
    top: 20px;
}
