.boxes {
    width: 50%;
    border: 1rem solid black;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer"
        ;
}
.headerr, .main, .sidebar, .footer {
    padding: 1rem;
}
.headerr {
    background-color: orangered;
    grid-area: header;
}
.main {
    background-color: blue;
    grid-area: main;
}
.sidebar {
    background-color: red;
    grid-area: sidebar;
}
.footer {
    background-color: greenyellow;
    grid-area: footer;
}
