body{
    font-family: "Times New Roman", Georgia, Serif;
    margin: 0px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
#headNav{
    background-color: white;
    position: sticky;
    height: 50px;
    z-index: 2px;
    top: 0px;
}
a{
    text-decoration: none;
    padding: 10px; 
    color: black; 
}
a:hover{
    background-color: rgb(206, 206, 206);
}
html{
    scroll-behavior: smooth;
}
#navbar{
    position: absolute;
    display: inline;
    bottom: -15px;
    right: 30px;
}
li{
    list-style: none;
    float: right;
    margin: 15px;
}  
#homeButton{
    position: absolute;
    left: 30px;
    top: 5px;
}
#img1{
    width: 100%;
    height: 720px;
    z-index: -1;
}
#imgover{
    color: rgb(24, 24, 24);
    position: absolute;
    bottom: -41px;
    left: 25px;
    z-index: 0;
}
#img2{
    position: absolute;
    z-index: 0;
    left: 300px;
    top: 100px;
}
