* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 5px;
}
.boxes {
    border: 1rem dashed black;
}
.box {
    padding: 5rem;  
}
.boxes {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 1rem;
    grid-template-areas: 
        "box3 box2 box1"
        "box4 . box5";
}
.box1 {
    background-color: chartreuse;
    grid-area: box1;
}
.box2 {
    background-color: orangered;
    grid-area: box2;
}
.box3 {
    background-color: cornflowerblue;
    grid-area: box3;
}
.box4 {
    background-color: darkgreen;
    grid-area: box4;
}
.box5 {
    background-color: darkorchid;
    grid-area: box5;
}
