body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tariff {
    padding: 1px;
    border: 2px blue solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.tariff p{
    margin: 0px;
}
.tariffElement1, .tariffElement2 {
    padding: 10px;
}
.tariffElement1 {
    background-color: blue;
    
}
.tariffElement1 p {
    color: white;
}
.cardSection {
    margin-top: 75px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    
}
.card {
    display: flex;
    border: 2px rgb(207, 207, 207) solid;
    border-radius: 10px;
    width: 20%;
    height: 50vh;
    padding: 20px;
    flex-direction: column;
}
.card h1, h5 {
    margin: 10px 0px;
}
.card h1 {
    font-size: 40px;
}
.card h5 {
    color: gray;
}
.card ul {
    padding: 0px;
}
.cardTop {
    border-bottom: 1px rgb(207, 207, 207) solid;
}
.cardMid {
    padding-left: 15px;
}
.cardMid li {
    margin: 10px 0px;
}
.buttonB {
    background-color: blue;
    border-radius: 10px;
    padding: 15px;
    align-self: bottom;
    width: 90%;
    height: 35%;
}
.buttonB p {
    margin: 0px;
    color: white;
}
.buttonB:hover {
    cursor: pointer;
}
.cardBottom1 {
    padding-top: 38.1%;
}
.cardBottom2 {
    padding-top: 29%;
}
.cardBottom3 {
    padding-top: 20%;
}
