.container {
    border: 10px dashed black;
    margin: auto;
    width: 50%;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-areas: 
        "header1 header1 header1 header2"
        "contentt contentt sidebar1 sidebar1"
        "contentt contentt sidebar2 sidebar2"
        "footer1 footer2 footer2 footer3"
        ;
}
.header1, .header2, .content, .sidebar1, 
.sidebar2, .footer1, .footer2, .footer3 {
    padding: 4rem;
}
.header1, .header2 {
    background-color: salmon;
}
.header1 {
    grid-area: header1;
}
.header2 {
    grid-area: header2;
}
.content {
    background-color: orange;
    grid-area: contentt;
}
.sidebar1, .sidebar2 {
    background-color: purple;
}
.sidebar1 {
    grid-area: sidebar1;
}
.sidebar2 {
    grid-area: sidebar2;
}
.footer1, .footer2, .footer3 {
    background-color: royalblue;
}
.footer1 {
    grid-area: footer1;
}
.footer2 {
    grid-area: footer2;
}
.footer3 {
    grid-area: footer3;
}

